
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* - - - - - - - - - - - - */
main {
    margin: 0 auto;
    max-width: 1400px;
}
.promo_img img {
    width: 100%;
    height: 100%;
}




/* - - - - - - - - - - - - */
.header{
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
    padding-left: 100px;
}

.hed{
display: flex;
gap: 165px;
align-items: center;
}

.menu{
    display: flex;
    gap: 40px;
    color: #000;
}

.menu a{
    color: #222222;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
    line-height: 10px;
    font-weight: 900;
}
.menu .active1{
    color: #0082F3;
}

.container{
    width: 100%;
    margin: 60px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.promo_wap{
    display: flex;
    align-items: center;  
    gap: 40px;
}

.promo_content h1{
font-size: 65px;
color: #000;
}

.promo_content p {
    font-size: 30px;
    color: #000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.promo_img{
    width: 50%;
    height: 50%;
} 

/* * * * * * * * * * */
.swiper {
    width: 288px;
    height: 327px;
    box-shadow: 0px 0px 10px #B7B7B7;
}

.line {
    width: 288px;
    height: 8px;
    background-color: #582EFF;
}

.block {
    width: 288px;
    height: 327px;
   
}

p {
    text-align: center;
    margin-top: 31px;
}
.img1{
    margin-top: 42px;
}
#red{
    background:  #FF814A;;
}
#green{
    background:  #31C5A1;
}
.sec3{
    display: flex;
    margin-top: 50px;
}
     























/* - - - - - - - - - - - - */
@media (max-width: 1440px) {
    .container {
        margin: 70px auto 0;
    }
    .hed {
        gap: 125px;
    }
    .promo_img {
        width: 33%;
        height: 50%;
    }
    .promo_content h1 {
        font-size: 55px;
    }
    .promo_content p {
        font-size: 22px;
    }
    .promo_wap {
        gap: 20px;
    }
}
@media (max-width: 1024px) {
    .header {
        padding-left: 50px;
    }
    .promo_content h1 {
        font-size: 40px;
    }
    .promo_content p {
        font-size: 16px;
    }
    .container {
        width: 645px;
    }
    .menu a {
        font-size: 24px;
    }
    .hed {
        gap: 90px;
    }
}
@media (max-width: 768px) {
    
}
@media (max-width: 425px) {
    
}
@media (max-width: 375px) {
    
}
@media (max-width: 320px) {
    
}




/* - - - - - - - - - - - - */